body {
  margin: 0;
}

.outer {
  height: 100vh;
  overflow-y: auto;
}

.outer::-webkit-scrollbar {
  display: none;
}

.inner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg {
  background-repeat: no-repeat;
  background-position-x: center; 
}

.bg2 {
  position: relative;
  background-repeat: no-repeat;
  background-position-x: center; 
}

.link {
  font-size: 24px;
}

.footer {
  position: absolute;
  bottom: 120px;
  width: 100%;
}
