@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
  --white: #ffffff;
  --black: #171717;
  --lightGray: #f4f2f2;
  --blueGray: #f4f5fb;
  --gray: #d9d9d9;
  --darkGray: #808080;
  --red: #ff3535;
}

body {
  font-size: 14px;
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
}

.mainWrapper {
  font-size: 14px;
  width: 100%;
  height: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.8rem;
  font-weight: 700;
}

.subtitle {
  font-size: 1.4rem;
  font-weight: 400;
}

.boldSubTitle {
  font-size: 1.4rem;
  font-weight: 700;
}

.content {
  font-size: 1.2rem;
  font-weight: 400;
}

.boldContent {
  font-size: 1.2rem;
  font-weight: 700;
}

.caption {
  font-size: 1rem;
  font-weight: 400;
}

.ellipsis {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.textShadow {
  filter: drop-shadow(0.15rem 0 0.15rem rgba(0, 0, 0, 0.25));
}
.mt05 {
  margin-top: 0.5rem;
}
.mt1 {
  margin-top: 1rem;
}

.mt3 {
  margin-top: 3rem;
}

.mt5 {
  margin-top: 5rem;
}

.mt1 {
  margin-top: 1rem;
}

.mb05 {
  margin-bottom: 0.5rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.mb5 {
  margin-bottom: 5rem;
}
.mr1 {
  margin-right: 1rem;
}
.mr2 {
  margin-right: 2rem;
}

.mr3 {
  margin-right: 3rem;
}

.ml03 {
  margin-left: 0.3rem;
}

.ml05 {
  margin-left: 0.5rem;
}

.ml1 {
  margin-left: 1rem;
}

.ml3 {
  margin-left: 3rem;
}

.ml1 {
  margin-left: 1rem;
}
.left {
  text-align: left;
}

.right {
  text-align: right;
}

.p1 {
  padding: 1rem;
}

.borderRad {
  border-radius: 1.5rem;
}

.boxShadow {
  box-shadow: 0.15rem 0 1.5rem rgba(0, 0, 0, 0.25);
}

.grayText {
  color: var(--darkGray);
}

.blackText {
  color: var(--black);
}

.underLine {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--darkGray);
  font-size: 1.2rem;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  padding: 0 0 0.5rem 0;
}

.button {
  display: inline-block;
  cursor: pointer;
  padding: 1rem 2rem;
  font-size: 1rem;
  text-align: center;
  background-color: var(--gray);
  border: 1px;
  border-radius: 1rem;
  color: var(--white);
  /* white-space: nowrap; */
}

.button:hover {
  background-color: var(--black);
}

.whiteButton {
  display: inline-block;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  background-color: var(--white);
  border: 1px solid gray;
  color: var(--darkGray);
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
}

.whiteButton:hover {
  background-color: var(--black);
  color: var(--white);
}

.flex {
  display: flex;
}

.rowCenter {
  margin: auto 0;
}

hr {
  background-color: var(--black);
  height: 1px;
  border: none;
}

.grayhr {
  background-color: var(--gray);
  height: 1px;
}

/* 로그인 */
.loginContent {
  margin: 0 auto;
  width: 30%;
  margin-top: 3rem;
}

.loginForm {
  margin: 0 auto;
  text-align: left;
  width: 70%;
}

.loginRegister > a {
  font-size: 1rem;
  text-decoration-line: none;
  color: var(--black);
  margin-right: 0.5rem;
}

.loginRegister > a:hover {
  color: var(--darkGray);
}

/* home-feed */
/* 프로필 사진 */
.feedProfileDiv {
  display: flex;
  float: left;
  align-items: center;
}

.feedProfile {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  padding: 1rem;
  object-fit: cover;
}

/* 기본 프로필 */
.feedProfileDefault {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  background-color: var(--gray);
  margin: 1rem;
  object-fit: cover;
}

/* 페이지 이모티콘+타이틀 */
.pageTitleDiv {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  float: left;
}

/* 피드 스크롤 */
.feedScroll {
  overflow: hidden;
}

/* 피드 그리드레이아웃  */
.feedList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 25rem);
  gap: 2rem;
  justify-content: center;
}

/* layer아이콘 */
.feedLayerDiv {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

.feedLayerDiv > img {
  width: 100%;
  height: auto;
}

/* 회원가입 */
.registerMiddleDiv {
  margin: 0 auto;
  width: 50%;
}

.registersmallBox .caption {
  margin-bottom: 2rem;
}

.registersmallBox .underLine {
  margin-bottom: 0.5rem;
}

.registerBirthBox {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}

.registerBirthBox select {
  margin-top: 0.5rem;
  background-color: var(--gray);
  border-radius: 1rem;
  border: none;
  padding: 0.5rem;
}

.registerBirthBox p {
  margin-left: 0.5rem;
  margin-right: 2rem;
}

.registerBirthBox input {
  margin-right: 0.5rem;
}

/* 아이템 */
/* 아이템 좋아요아이콘 + 좋아요개수*/
.itemLikeWrapper {
  display: flex;
  align-items: center;
}

/* homeItem 페이지 */
/* 썸네일 스크롤 버튼 (동그라미 버튼) */
.carousel {
  background-color: var(--white);
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.carousel:hover {
  background-color: var(--black);
  color: var(--white);
}

/* 마이페이지 */
.mypageWrapper {
  width: 100%;
  height: auto;
  display: flex;
}

/* 사이드바 */
.sidebarContent {
  text-align: left;
  padding: 0 0 0 2rem;
  width: 15%;
}

.sidebarActive {
  text-decoration: none;
}

.sidebarUl .sideList {
  list-style-type: none;
  color: "gray";
  line-height: 200%;
}

/* 마이페이지 기본 */

.mypageMain {
  width: 70%;
  height: auto;
  padding: 0px 70px;
  z-index: 10;
  flex-direction: column;
}

.mpdprofileBox {
  width: 100%;
  height: 12rem;
  border-radius: 1rem;
  background-color: var(--lightGray);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  align-items: center;
}

.gridColumns3 {
  grid-template-columns: 1fr 2fr 1fr;
}

.gridColumns4 {
  grid-template-columns: 1fr 2fr 1fr 1fr;
}

.mpdprofileBox img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  margin: auto;
  object-fit: cover;
}

.mpdprofileBox div:nth-child(2) {
  text-align: left;
}

.mpdtextBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 3rem 0 1rem;
}

.mpdtextBox :nth-child(1) {
  text-align: left;
}

.mpdtextBox :nth-child(2) {
  text-align: right;
  color: var(--darkGray);
}

.mpdFollowing {
  width: 95%;
  margin: auto auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.mpdFollowing div > img {
  width: 80%;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.mpdLike {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 95%;
  margin: auto auto;
  gap: 1rem;
}

.mpdLike > div {
  background-color: var(--lightGray);
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-radius: 1rem;
  padding: 1rem;
  gap: 1rem; 
} 

.mpdImgBox{
  align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
}
.mpdLike > div :nth-child(1) > img {
  border-radius: 1rem;
  width: 9rem;
  height: 9rem; 
}

.mpdLikeInfo {
  text-align: left; 
  width: 100%;
} 

.mpdLikeInfo .crLast {
  display: flex;
  justify-content: space-between;
}

.mpdLikeInfo .crLast img {
  width: 1rem;
  height: 1rem;
  margin: auto 0;
}

.mpdLikeInfo .last p {
  margin: auto 0;
}

/* 마이페이지 좋아요 */
.mplGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1rem;
  width: 100%;
  justify-items: center;
}

/* 마이페이지 내가 작성한 글 */
.mppWritingBox {
  display: flex;
  position: relative;
  float: left;
  border-bottom: 1px solid #aaa;
  width: 100%;
}

.mppFeedImage {
  width: 13rem;
  height: 16rem;
  text-align: center;
  margin-bottom: 3rem;
  object-fit: cover;
}

.mppCommentDiv {
  display: flex;
  float: left;
  margin: 8rem 0rem 0rem 3rem;
}

.mppCommentImage {
  width: 20px;
  height: 20px;
}

.mppDateDiv {
  position: absolute;
  right: 0;
  padding: 1rem;
}

.mppButtonDiv {
  position: absolute;
  right: 0;
  top: 13rem;
  display: flex;
  float: left;
  gap: 1rem;
}

.mpcDate {
  position: absolute;
  right: 0;
  top: 0rem;
}

/* 메인바 헤더 */
.header {
  display: flex;
  padding: 30px;
  width: 97%;
  /* overflow: hidden; */
  height: 60px;
  background-color: white;
  align-items: center;
}

/* 메인바 리스트 */
.mainUl {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.headerFlex {
  display: flex;
  align-items: center;
  height: 100%;
}

.mainNav a {
  text-decoration: none;
  color: black;
}

.headerRight {
  /* float:right; */
  display: flex;
  align-items: center;
  /* margin-left : auto; */
}

.headerWrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.middleAlign {
  margin: auto;
}

/* 검색창 */
.search {
  display: flex;
  position: relative;
  /* width: 50%; */
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.search_bar {
  width: 95%;
  height: 40px;
  border: none;
  border-radius: 13px;
  outline: none;
  font-size: 1.1rem;
  padding: 5px 10px 5px 10px;
  background: #e9ecef;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 검색 버튼 */
.search_button {
  position: absolute;
  right: 10px;
  /* 입력 필드 오른쪽에 버튼 위치 */
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileImg {
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}

/* 마이페이지 알림 */
.mpnBox {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

/* 마이페이지 계정 관리 */
.mpmManagingBox {
  position: relative;
  height: 15rem;
  margin-top: 3rem;
}

.mpmManagingBox input {
  position: absolute;
  right: 0;
}

.mpmBlur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(3px);
  z-index: 1000;
}

.mpmPopup {
  z-index: 1000;
  padding: 3rem 5rem;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mpmFix {
  width: 1rem;
  height: 1rem;
}

.mpmBtnBox {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

/* 커뮤니티 팝업 */
.communityPopupWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.communityPopupContent {
  position: relative;
  width: 25rem;
  height: 35rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.communityPopupContent > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
}

/* 랭킹 카테고리 사이드바 */
.categoryUl {
  flex-direction: column;
  text-align: left;
  list-style: none;
}

.totalWrap {
  margin: 2.5rem;
  display: flex;
}

.contentWrap {
  width: 100%;
  display: flex;
}

.categoryWrap {
  width: 18rem;
  overflow-y: auto;
  flex-shrink: 0;
  /* 너비가 줄어들지 않도록 설정 */
}

.suplists {
  line-height: 200%;
  color: black;
  list-style: none;
}

.supcateButton {
  background-color: white;
  border-style: none;
  color: black;
  font-size: 16px;
}

.subcateButton {
  background-color: white;
  border-style: none;
  font-size: 16px;
  color: gray;
}

.sublists {
  background-color: white;
  line-height: 200%;
  color: black;
  list-style: none;
}

.rightAlign {
  float: right;
}

.flexColumnn {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* 커뮤니티 홈 */
.cardWrapper {
  width: 25rem;
  height: 30rem;
  overflow: hidden;
}

.cardWrapper > img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  filter: brightness(0.7);
}

/* 커뮤니티 댓글 페이지 */
.communityGrid {
  display: grid;
  width: 100%;
  height: 100%;
  font-size: 14px;
  grid-template-columns: 1.8fr 1fr;
  grid-template-rows: 15rem 45rem;
  gap: 1rem;
}
.communityGrid > div:first-child {
  grid-row: span 2;
}
.communityGrid > div {
  box-shadow: 0.15rem 0 1rem rgba(0, 0, 0, 0.1);
  background-color: var(--white);
}

/* 댓글 페이지 댓글 작성 컴포넌트 그리드 */
.commentGrid {
  display: grid;
  grid-template-columns: 2fr 10fr 1fr;
  grid-template-rows: 8rem 1.5rem;
}
.commentGrid > div {
  display: flex;
}
.commentGrid > div:first-child {
  align-items: flex-start;
  grid-row: span 2;
}
.commentGrid > div:nth-child(3) {
  align-items: flex-end;
}

/* 댓글 페이지 셀럽 정보 그리드 */
.communityCelebGrid {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 2fr 1fr;
  align-items: center;
}
.communityCelebGrid > button {
  justify-self: center;
}

/* 자동검색어 */
/* .search-container {
  position: relative; /* 상대 위치로 설정하여 자식 요소들이 제대로 배치될 수 있도록 함 */
/* } */

.search {
  position: relative; /* 상대 위치 */
}

.search-results {
  width: 100%; /* 검색 바와 동일한 너비 */
  border: 0.1rem solid #ccc; /* 경계선 추가 */
  border-radius : 10%;
  position: absolute; /* 검색 바 아래에 위치하도록 설정 */
  top: 100%; /* 검색 바의 바로 아래에 위치하도록 설정 */
  background-color: white; /* 배경색 설정 */
  z-index: 10; /* 다른 요소 위에 표시되도록 설정 */
  max-height: 20rem; /* 최대 높이 설정 */
  overflow-y: auto; /* 스크롤 가능하도록 설정 */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}


.search-results li {
  margin-left : 0.5rem;
  padding: 0.3rem; /* 항목 패딩 추가 */
  cursor: pointer; /* 포인터 모양으로 설정 */
  max-height: 3rem; /* 원하는 최대 높이로 설정 */
  overflow: hidden; /*내용이 넘치면 숨김*/
  display: flex; /* Flexbox 사용 */
  align-items: center; /* 수직 가운데 정렬 */
}

.search-results li:hover {
  background-color: #f0f0f0; /* 호버 시 배경색 변경 */
}

.search-button {
  position: absolute; /* 버튼을 검색 바의 위에 위치시키기 위해 절대 위치 */
  left: 2rem; /* 버튼의 위치를 조정 (원하는 위치에 맞게 조정) */
  top: 2rem; /* 버튼의 위쪽 위치를 조정 (원하는 위치에 맞게 조정) */
}

.searchProfileImg{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 1rem; /* 이미지와 텍스트 사이의 간격 */
  /* fla */
}

/* 셀럽추천 */
.crCelebWrapper{ 
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10em;
} 

.crFirstLine{
  display: flex; 
  justify-content: space-between;
}

.crFirstLine .flex img{
  border-radius: 50%;
  width: 5rem;
}

.crFirstLine .flex div{
  text-align: left;
  margin: auto 0 auto 1rem;
}

.crFirstLine button{
  height: 3rem;
  margin: auto 0;
}

.crSecondLine{
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.crSecondLine img{
  width: 12em;
  height: 15em;
  object-fit: cover;
}