#profileBox{
    width : 75%;
}


.box1{
    border-style : solid;
    border-color  : #e9ecef;
    border-radius : 10px;
}

#paddingBox{
    color: black;
    height : 150px;
    width : 30px;
}

.profileId{
    margin-left:30px;
    display : flex;
    align-items: center;
    justify-content: center;

}
#total{
    font-weight : bold;
    /* display : inline; */
}

.profileImg{
    margin-top:20px;
    margin-bottom: 20px;
    border-radius : 70%;
    padding-left : 50;
    object-fit: cover;
}

#userid{
    font-weight:bold;
}

#followButton{
    background-color:#0a0a23;
    position : absolute;
    width :70px;
    height:30px;
    color: #fff;
    border-radius:20px;
    align-items: center;
    justify-content: center;
}