@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
    margin: 0;
    padding: 0;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    z-index: 1000;
}

body {
    min-width: 1000px;
    margin: 0 auto;
    font-family: 'Pretendard';
    background-color: white;
    position: relative;
}

.content {
    min-width: 1000px;
    width: calc(100% - 400px);
    position: absolute;
    left: 300px;
    top: 20px;
    padding: 0px 100px;
    box-sizing: border-box;
    text-align: left;
    z-index: 10;
}


.title {
    min-width: 1000px;
    text-align: left;
    margin-left: 0px;
    margin-top: 0px;
}

hr{
    height: 2px;
    border: none;
    background-color: #aaa;
}

.hori {
    min-width: 1000px;
    margin: 10px 0 20px;
}

input[type=image] {
    width: 12px;
    height: 12px;
    margin: auto 0 auto 5px;
    z-index: 10;
}

.profileBox {
    min-width: 1000px;
    display: flex;
    padding: 50px;
}

.profileBox1 {
    position: relative;
    height: 100px;
}

#profileImg {
    border-radius: 50%;
    margin-right: 50px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
}

#changeImg {
    position: absolute;
    left: 90px;
    top: 80px;
}

.profileBox2 {
    min-width: 1000px;
    position: relative;
    width: 100%;
    left: 150px;
}

.profileBox2 div {
    display: flex;
}

.profileBox2 div:nth-child(1) {
    position: absolute;
    top: 20px;
    left: 0;
    font-size: 16px;
}

.profileBox2 div:nth-child(2) {
    position: absolute;
    top: 50px;
    left: 0;
    font-size: 14px;
}


.managingBox {
    min-width: 1000px;
    position: relative;
    height: 250px;
    margin-top: 30px;
}

.emailBox {
    left: 0;
    top: 0;
    position: absolute;
    width: 45%;
    height: 30%;
}

.birthBox {
    left: 55%;
    top: 0;
    position: absolute;
    width: 45%;
    height: 30%;
}

.pwdBox {
    height: 30%;
    width: 45%;
    position: absolute;
    left: 0;
    top: 45%;

}

.genderBox {
    height: 30%;
    width: 45%;
    position: absolute;
    left: 55%;
    top: 45%;

}

.managingBox>div>p {
    font-size: 16px;
}

.changeBox {
    display: flex;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
    position: relative;
}


.managingBox input {
    position: absolute;
    right: 0;
}


.buttonBox {
    min-width: 1000px;
    text-align: center;
}

button {
    width: 50px;
    height: 25px;
    border: 1px;
    border-radius: 5px;
    font-size: 12px;
    background-color: black;
    color: white;
    padding: 0 5px;
    margin: 0 30px;
    box-sizing: content-box;
}

button:hover {
    background-color: gray;
}