@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

#categoryDiv{
    width : 20%;
    margin : 30px;
}

#categoryNa{
    font-size: 25px;
    text-align: left;
}

.categoryUl{
    flex-direction: column;
    text-align: left;
    list-style: none;
}

.lists{
    line-height: 200%;
    color:gray;
}

.lastlists{
    margin-bottom : 20px;
}

.gen{
    font-weight: bold;
    /* font-size : 18px; */
}