@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

.box {
    width: calc(50% - 25px);
    margin-bottom: 40px;
}

.pBox {
    margin-bottom: 15px;
    display: flex;
}

.profileImg {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.mPart {
    margin-left: 10px;
    margin: auto 0 auto 10px;

}

.uText {
    font-size: 16px;
    font-weight: bold;
}

.fText {
    font-size: 12px;
    color: gray;
}

.btn {
    text-align: center;
    margin: auto 0px auto auto;
}

.iBox {
    display: flex;
    justify-content: center;
}

.fimage {
    width: 145px;
    height: 180px;
}

.iBox :nth-child(1) {
    margin-right: 10px;
}

.iBox :nth-child(2) {
    margin-right: 10px;
}