.writingBox{
    display:flex;
    position: relative;
    float: left;
    margin-top: 30px;
    border-bottom: 1px solid #aaa;
    width: 100%;
}
.feedDiv > .feedId{
    padding : 0 0 20px 0;
    text-align: center;
}
.textDiv{
    height:fit-content;
    text-align: left;
    margin: 30px 30px 30px 20px;
}
.title{
    font-weight: 600;
}
.contents{
    margin-top: 20px;
}

.dateDiv {
    position: absolute;
    right:0px;
    height: fit-content;
    padding: 10px;
}
.date{
    font-weight: 600;
}
.buttonDiv{
    position: absolute;
    right:0;
    top: 150px;
    display: flex;
    float: left;
}
