@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

.wrap{
    width: calc(100% - 450px);
}

.Following{
    margin: 0;
    margin-bottom: 20px;
    text-align: left;
}

.word{
    display: flex;
    padding-bottom: 20px;
}

.paddingBox{
    height: 50px;
    width: 100%;
    background-color: blue;
}