@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
    font-family: 'Pretendard';
}

.contents {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    float: left;
    height: fit-content;
    width: 100%;
    margin: auto auto;
    position: relative;
    padding-top: 20px;
}

.totalItem {
    margin: auto 30px;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 1000px;
    float: left;
    overflow-x: hidden;
    min-height: 300px;
}

.product {
    text-align: left;
    font-weight: 700;
    font-size: 20px;
    margin: auto 30px;
    width: 100%;
}

hr {
    width: calc(100% - 60px);
    margin: 0 auto 10px auto;
}

.goComBtn {
    float: right;
    color: #ddd;
    cursor: pointer;
    font-size: 15px;
    margin: auto 30px;
    position: absolute; /* 위치 고정 */
    bottom: 10px; /* 아래쪽에 고정 */
    right: 30px; /* 오른쪽 마진 */
}

.goComBtn:hover {
    border: 1px solid black;
    color: black;
    border: none;
}

.nextBtn {
    position: absolute;
    top: 265px;
    width: 30px;
    height: 30px;
    right: 10px;
    border: none;
    border-radius: 50px;
    background-color: rgba(0,0,0, 0.2);
    transition: opacity 0.3s ease;
    color: white;
    line-height: 30px;
    font-weight: 600;
    text-align: center;

    &:hover {
        background-color: rgba(0,0,0,0.8);
        border: none;
    }
}

.prevBtn {
    position: absolute;
    top: 230px;
    width: 30px;
    height: 30px;
    right: 10px;
    border: none;
    border-radius: 50px;
    background-color: rgba(0,0,0, 0.2);
    transition: opacity 0.3s ease;
    color: white;
    line-height: 30px;
    font-weight: 600;
    text-align: center;

    &:hover {
        background-color: rgba(0,0,0,0.8);
        border: none;
    }
}
