@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

*{
    font-family:'Pretendard';
}

.infoBox{
    border: 1px solid black;
    position: relative;
    border-radius: 20px;
    height: 400px;
    width:200px;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: center;
    margin: 20px;
}

.item{
    width: 150px;
    height: 150px;
    margin: 30px auto;
}

.infoText{
    margin: 30px auto;
}
#itemName{
    font-size: 20px;
    text-align: left;
    padding-bottom: 10px;
}
#itemDetail{
    text-align: left;
    padding-bottom: 30px;
}
.bottomCom{
    position: absolute;
    width: 200px;
    display: flex;
    left:30px;
}
#itemPrice{
    padding-bottom: 30px;
    color: gray;
    font-weight: 700;
}
#itemHeart{
    width: 30px;
    height: 30px;
    margin-left: 80px;
    cursor: pointer;
}