@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
    margin: 0;
    padding: 0;
}

.wrap{
    display: flex;
    font-family: 'Pretendard';
}


.content {
    min-width: calc(100% - 400px);
    position: absolute;
    left: 300px;
    top: 0px;
    padding: 0px 100px;
    box-sizing: border-box;
    text-align: left;
    z-index: 10;
}


.title {
    text-align: left;
    margin-left: 0px;
    margin-top: 0px;
}

.horizon {
    width: 100%;
    border-Bottom: 2px solid #aaa;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

/* .wrap{
    min-width: 1000px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    overflow-y: auto; 
    max-height: 600px;  
    scrollbar-width: none; 
} */
