@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    font-family: 'Pretendard';
    background-color: white;
}


.content {
    margin: 0 auto;
    margin-top: 100px;
    width: 30%;
}

.content > h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.content > p {
    color: gray;
    font-size: 16px;
    margin-bottom: 60px;
}

form {
    margin: 0 auto;
    text-align: left;
    width: 70%;
    font-size: 16px;
}

form > input{
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid gray;
    margin-bottom: 50px;
}


.submitButton {
    width: 100%;
    height: 55px;
    border: 1px;
    border-radius: 10px;
    font-size: 16px;
    background-color: #d9d9d9;
    color: white;
    margin-bottom: 10px;
}

.submitButton:hover{
    background-color: black;
}


a {
    text-decoration-line: none;
    color: gray;
    margin-right: 10px;
}

 a:hover {
    color: black;
}