.header{
    display : 'flex';
    margin: 30px;
    overflow: hidden;
}

.navigation{
    display: flex;
    text-decoration: none;
    float : right;
}

.parent{
    display:flex;
}

p{
    margin-left : 10px;
}

a{
    text-decoration : none;
}

.mainUl {
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

.mainLists {
    padding: 5px;
    float:left;
}