@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

.header{
    display : 'flex';
    margin: 30px;
    overflow: hidden;
    z-index: 1;
    height:60px;
}

.navigation{
    display: flex;
    float : right;
}

.parent{
    display:flex;
}


a{
    text-decoration : none;
}

.mainUl {
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}
  
.mainLists{
    padding:0;
    margin: 0;
    margin-top: 20px;
    float: left;
}