@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 1000px;
    margin: 0 auto;
    font-family: 'Pretendard';
    background-color: white;
}

.content {
    min-width: 1000px;
    width: calc(100% - 400px);
    position: absolute;
    left: 270px;
    top: 0;
    padding: 0px 150px;
    box-sizing: border-box;
}

.profileBox {
    min-width: 1000px;
    height: 150px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    margin: 0 30px 50px 0;
}


.profileBox p{
    font-weight: bold;
    margin-left: 0px;
    font-size: 14px;
}

.profileBox small{
    margin-left: 0px;
    font-size: 12px;
}
.profileBox img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 100px;
    top: 25px;
}

.profileBox div:nth-child(2){
    text-align: left;
    position: absolute;
    left: 225px;
    top: 55px;
}

.profileBox div:nth-child(3) {
    position: absolute;
    right: 100px;
    top: 55px;
}

.textBox{
    min-width: 1000px;
    position: relative;
    height: 30px;
    margin-top: 60px;
    font-size: 16px;
}
.textBox p:nth-child(1){
    position: absolute;
    left: 0;
    top: 0;
}
.textBox p:nth-child(2){
    position: absolute;
    right: 0;
    top: 0;
    color: gray;
    font-size: 14px;
}

.following{
    min-width: 1000px;
    display: flex;
    padding: 0 auto;
    justify-content: center;
}

.following div{
    width: 160px;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 20px 10px;
    margin: 0px 20px;
    box-sizing: border-box;
    font-size: 14px;
}

.following div img{
    border-radius: 50%;
    margin-bottom: 20px;
}

.like{
    min-width: 1000px;
    display: flex;
    justify-content: center;
    margin-right: 30px;
}

.like > div {
    width: 50%;
    height: 140px;
    margin: 0px 20px 60px 20px;
    border: 1px solid gray;
    position: relative;
    border-radius: 5px;
} 

.likeComponent{
    display: inline;
    position: absolute;
    margin-left: 0px;
}

.like > div > img{
    left: 20px;
    top:20px;
}
#brandName{
    left:140px;
    top: 20px;
    font-weight: bold;
    font-size: 14px;
}
.item{
    position: absolute;
    left:130px;
    top: 40px;
    width: 100%;
    display: flex;
    font-size: 14px;
}
#itemName{
    margin-right: 5px;
}
#itemOption{
    margin-left: 5px;
}
#itemPrice{
    left:140px;
    top: 80px;
    color: gray;
    font-size: 12px;
}

.heartBox{
    position: absolute;
    display: flex;
    left:140px;
    top: 100px;
    font-size: 14px;
}
.heartBox img{
    width: 14px;
    height: 14px;
    margin: auto 0;
}
