/* @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

.box {
    display: flex;
    padding: 30px;
}

.NBox {
    display: inline-block;
    width: 80%;
}

.Q {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
}

.Qtext {
    color: black;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
}

.Qtext:hover {
    color: gray;
}

.A {
    margin-top: 10px;
    display: inline-block;
    font-weight: bold;
    color: gray;
    font-size: 16px;
}

.Atext {
    display: inline-block;
    font-size: 14px;
}

.DBox {
    width: 20%;
    font-size: 12px;
    text-align: right;
    margin: auto auto;
    color: gray;
}

hr {
    height: 2px;
    width: 100%;
    border: none;
    background-color: #aaa;
} */