@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

*{
    font-family: 'Pretendard';
    
}

.pageButton{
    justify-content: center;
    display: flex;
    align-items: center;
    align-content: center;
}

.buttonshape{
    width: 30px;
    height: 20px;
}
