@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

*{
    font-family: 'Pretendard';
    
}

.pageButton{
    justify-content: center;
    display: flex;
    align-items: center;
    align-content: center;
}

.buttonshape{
    background-color: black;
    margin : 1px;
    color : white;
    border-radius : 10%;
    width: 40px;
    height: 25px;
}