@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

.popupBox {
    position: absolute;
    left: 40%;
    top: 0px;
    z-index: 1000;
    width: 400px;
    padding: 50px 80px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    border: 1px solid black;
}

.inputBox{
    margin-top: 30px;
    font-size: 14px;
    padding: 5px 10px;
    box-sizing: border-box;
    width: 100%;
}

.genderBox{
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.genderBox > div{
    margin: auto 0px;
    margin: 0 20px;
    font-size: 16px;
}

.genderBox > div >label{
    margin-left: 5px;
}

.buttonBox {
    margin-top: 40px;
}

.buttonBox > :first-child {
    margin-right: 30px;
}