@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

.rankingId{
    font-size: 14px;
    text-align: left;
    margin : 0;
}

#rankingHeart{
    padding : 0;
    margin : 0;
    margin-top: 2px;
    width:15px;
    height: 15px;
    cursor: pointer;
}

.RankingUserInfo{
    display: flex;
}

.rankingHeartCount{
    margin: 0;
    margin-left: 2px;
    font-size: 14px;
}

.RankingFeedPadding{
    width:100px;
    height: 100%;
}

.RankingUserHeart{
    margin-left: auto;
}