.RankingContent{
    height: 100%;
    /* padding: 30px; */
    margin : 0;
}

.RankingWord{
    width: 100%;
    margin : 0 auto;
}


.RankingItems{
    display: flex;
    margin : 0 auto;
    justify-content: center;
    align-items: center;
    margin-top : 20px;
    /* margin : 30px; */
    /* background-color: blue; */
}

#rankingPopular{
    justify-content: center;
    align-items: center;
}

#rankingBest{
    height : fit-content;
    padding: 0;
    margin-bottom: 5px;
    margin-top : 5px;
    justify-content: center;
    align-items: center;
}

.totalWrap{
    /* background-color: blue; */
    font-family: 'Pretendard';
}

.RankingBest{
    padding: 0;
    margin:0;
}

.RankingUl{
    list-style: none;
    margin : 0;
    width: 100%;
    overflow: hidden;
}

.RankingType{
    width:100%;
}

.RankingLists{
    margin-top : 50px;
    float:left;
}

.RankingRow{
    width: 100%;
    display:flex;
    padding-top: 30px;
}


.RankingPadding{
    width:30px;
}