@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body {
    min-width: 1000px;
    margin: 0 auto;
    font-family: 'Pretendard';
    position: relative;
}

.profileBox{
    width : 70%;
    margin: 0 auto;
}

.SearchUserRes{
    margin-top: 20px;
    display:flex;
    border-style : solid;
    border-color  : #e9ecef;
    border-radius : 10px;
    height: 200px;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.SearchUserProfile{
    margin-left:30px;
    display : flex;
    width: 100%;
    text-align: left;
    align-items: center;
}

#Searchtotal{
    font-weight : bold;
}

#SearchUserImg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.userInfo{
    display: flex;
    align-items: center;
}

.userInfoWord{
    margin:0;
    padding:0;
    margin-left: 30px;
    align-items: center;
    justify-content: center;
}

#profileBio{
    text-align: left;
}

#FollowerWord{
    margin: 0;
    padding: 0;
}

.userFollowerInfo{
    display: flex;
    margin-left: 0;
    padding: 0;
    font-size: 14px;
    color:gray;
    margin: 0;
}

.SearchprofileImg{
    display: flex;
    object-fit: cover;
    margin-left: 50px;
    align-items: center;
    justify-content: center;
}

#SearchUserid{
    font-weight:bold;
    text-align: left;
}

.SearchFollow{
    margin-left: auto;
    margin-right:50px;
    
}

.SearchRelRes{
    margin: 0;
    padding: 0;
    margin-top: 60px;
    font-weight: bold;
    overflow: hidden;
}

.SearchRelChannel{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}

.RelResWord{
    text-align: left;
    margin-bottom: 20px;
}

.paddingWidth{
    width: 80px;
}

.paddingHeight{
    height: 60px;
}