#profileBox{
    width : 75%;
}

.SearchUserRes{
    display:flex;
    border-style : solid;
    border-color  : #e9ecef;
    border-radius : 10px;
    height: auto;
}

.SearchUserProfile{
    margin-left:30px;
    display : flex;
    width: 100%;
    text-align: left;
    align-items: center;
}

#Searchtotal{
    font-weight : bold;
}

.SearchprofileImg{
    margin-top:20px;
    margin-bottom: 20px;
    border-radius : 70%;
    padding-left : 50;
    object-fit: cover;
    margin-left: 50px;
}

#SearchUserid{
    font-weight:bold;
}

.SearchFollow{
    display: flex;
    margin-left: 0 auto;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}

#followButton{
    background-color:#0a0a23;
    width :90px;
    height:30px;
    color: #fff;
    border-radius:20px;
}

.SearchRelRes{
    margin: 0;
    padding: 0;
    margin-top: 60px;
    font-weight: bold;
}

.SearchRelChannel{
    display: flex;
}