@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
    font-family: 'Pretendard';
}

/* 메인 */
.top {
    width: 100%;
    display: flex;
    float: left;
    
}

.titleDiv {
    text-align: left;
}

.title {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
}

.subTitle {
    font-size: 20px;
}

.feedContainer{
    margin: 0 auto;

    display: flex;
    float: left;
}

/* 서브피드 */
.feedSub {
    width: 79px;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
}
.thumbnail {
    width: 79px;
    border-radius: 10px;
    margin-bottom: 10px;

}

/* 아이템정보 제목 */
.itemTitleDiv {
    display: flex;
    float: left;
    width: 100%;
}

.boxIcon {
    width: 24px;
    height: 24px;
}

.itemTitle {
    font-weight: bold;
    font-size: 24px;
}

.totalItem {
    width: 100%;
    margin: auto 30px;

    display: flex;
    align-items: center;
    float: left;
}

.btnDiv {
    width: 100%;
    float: left;
}

/* 더보기 버튼 */
.moreBtn {
    margin: 0 auto;
    width: 80px;
    height: 40px;

    border: 1px solid #808080;
    border-radius: 10px;
    background-color: white;
    color: #808080;
    font-size: 16px;

    line-height: 40px;
    text-align: center;

    cursor: pointer;

}

/* 커뮤니티 버튼 */
.goComBtn {
    float: right;
    color: #808080;

    cursor: pointer;
    font-size: 16px;

    &:hover {
        color: black;
        border: none;
    }
}