
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");


body, html {
  font-family: 'Pretendard';
  font-size: 14px;
  margin: 0;
  padding: 0;
}

main {
  padding-top: 8%; /* Match this value to the height of your fixed header */
}
header{
  position: fixed;
  /* width: 100%; */
  z-index: 999;
}